@model BookHaven.Models.Recommendation
@{
    ViewData["Title"] = "Recommended Books";
}

<h2>Recommendations for @Model.Title</h2>

@if (Model.RecommendedBooks != null && Model.RecommendedBooks.Count > 0)
{
    <ul>
        @foreach (var book in Model.RecommendedBooks)
        {
            @* <li>
                <h3>@book.BookTitle</h3>
                <p><strong>Author:</strong> @book.BookAuthor</p>
                <p><strong>Year of Publication:</strong> @book.YearOfPublication</p>
                <p><strong>Publisher:</strong> @book.Publisher</p>
                <img src="@book.ImageURLM" alt="@book.BookTitle" />
            </li> *@

            <div class="container" style="background-color: rgba(129, 142, 139, 0.8); margin-top:50px; margin-bottom: 50px; padding: 20px; border-radius: 10px;">
                <div class="row">
                    <div class="col col-xs-6 col-lg-5">
                        <img src="@book.ImageURLL" style="max-width: 400px; max-height: 400px;" />
                    </div>
                    <div class="col col-xs-6 col-lg-7">
                        <h5><a asp-action="Details" asp-route-id="@book.Id" style="color: black;">@book.BookTitle</a></h5>
                        <div>Author: @book.BookAuthor</div>
                        <div>Year of publication: @book.YearOfPublication.ToString()</div>
                        <div>Publisher: @book.Publisher</div>
                        <div>ISBN: @book.ISBN</div>
                    </div>
                </div>
            </div>
        }
    </ul>
}
else
{
    <p>No recommendations found.</p>
}



@* @foreach (var readlist in Model)
{

    




    <div class="container" style="background-color: rgba(129, 142, 139, 0.8); margin-top:50px; margin-bottom: 50px; padding: 20px; border-radius: 10px;">
        <div class="row">



            @if (readlist == null)
            {
                <p>readlist is null</p>
            }
            else if (readlist.Book == null)
            {
                <p>readlist.Book is null</p>
            }
            else
            {
                <div class="col col-xs-6 col-lg-5">
                    <img src="@readlist.Book.ImageURLL" style="max-width: 400px; max-height: 400px;" />
                </div>
                <div class="col col-xs-6 col-lg-7">
                    <h5><a asp-action="Details" asp-route-id="@readlist.Book.Id" style="color: black;">@readlist.Book.BookTitle</a></h5>
                    <div>Author: @readlist.Book.BookAuthor</div>
                    <div>Year of publication: @readlist.Book.YearOfPublication.ToString()</div>
                    <div>Publisher: @readlist.Book.Publisher</div>
                    <div>ISBN: @readlist.Book.ISBN</div>
                </div>
            }



        </div>
    </div>
} *@